* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 170px 20px 200px;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.logo-container img {
    width: 32px;
}

.logo-container span {
    font-size: 24px;
    color: #171A31;
}


nav {
    padding: 0 15px 0 15px;
    justify-content: center;
    align-items: center;
    right: 40px;}

a {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #171A31;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 42px;
}

.details-container {
    background-color: #F8F8FA;
    display: flex;
    flex-direction: row;
    top: 90px;
    left: 200px;
    padding-top: 40px;
    width: 1092px;
    height: 600px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header {
    padding: 0 0 0 50px;
    width: 540px;
}

.header h1 {
    font-family: Poppins;
    font-size: 72px;
    font-weight: 700;
    line-height: 93px;
    text-align: left;
    /* white-space: pre; */
}


.paragraph p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* white-space: pre; */
}

.paragraph {
    padding: 0 0 0 50px;
    width: 500px;
}

.button a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 60px;
}

.button {
    padding: 0 0 0 50px;
}

.right img {
    width: 500px;
    height: 600px;
    bottom: 40px;
    left: 60px;    
}

@media screen and (max-width: 425px) {
    
header {
    display: flex;
    background-color: #fff;
    position: sticky;
    width: max-content;
    z-index:1;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 170px 20px 200px;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.logo-container img {
    width: 100px;
    height:100px;
    right: 100px;

}

.logo-container span {
    font-size: 54px;
    color: #171A31;
    right: 80px;

}


nav {
    padding: 0 15px 0 15px;
    justify-content: center;
    align-items: center;
    left: 180px;
}

ul a {
    font-size: 44px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #171A31;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 350px;
    height: 120px;
}

    .details-container {
        display: flex;
        flex-direction: column-reverse;
        background-color: #F8F8FA;
        height: 2250px;
        width:900px;
        top: 40px;
        gap: 12px;
        left: 100px;
    }

    .right img {
        width:915px;
        height: 1110px;
        bottom: 600px;
        left: 0;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 15px;
        bottom: 150px;
    }

    .header {
        padding: 0 0 0 24px;
        bottom: 400px;
        width: 850px;
    }

    .header h1 {
        font-family: Poppins;
        font-size: 100px;
        font-weight: 900;
        line-height: 128px;
        letter-spacing: 0px;
        text-align: left;
    }


    .paragraph p {
        font-family: Poppins;
        font-size: 50px;
        font-weight: 400;
        line-height: 94px;
    }

    .paragraph {
        padding: 0 24px 0 24px;
        width: 970px;
        height: 120px;
        bottom: 350px;
    }

    .button a {
        font-family: Poppins;
        font-size: 42px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        border-radius: 25px;
        width: 450px;
        height: 150px;

    }

    .button {
        padding: 0 0px 0 24px;
        top: 50px;
    }
}